<h1>Seja bem vindo!</h1>
<p><strong>Data:</strong> <%= l(Date.today) %> </p>
<p>O idioma utilizado na aplicação é: <strong> <%= t('locale')%> </strong> </p>


<p> <%= render "menu" %> </p>

<p>Olá <%= @nome %> </p>